.page-hero-section{
    height: 600px;
    margin-bottom: 54px;
    .img-bg{
        height: 100%;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .hero-heading{
     text-align: center;
     color: $primary-color;
     font-family: $secondary-font;
     font-weight: 600;
     font-size: 42px;
        @media (min-width:992px) {
            font-size: 5em;
        }
    }
}