// banner section start
.osuno-hero-section{
    .tns-outer {
        position: relative;
        .tns-nav {
            display: none;
            justify-content: center;
            position: absolute;
            bottom: 26px;
            left: 0;
            width: 100%;
            z-index: 3;
            @media (min-width: 768px) {
                display: flex;
            }
            button {
                padding: 7px;
                border: none;
                background-color: change-color($color: $primary-color, $alpha: 0.5);
                border-radius: 50%;
                box-shadow: none;
                margin-left: 20px;
                &:first-child {
                    margin-left: 0;
                }
                &.tns-nav-active {
                    background-color: $primary-color;
                }
            }
        }
    }
    .slides{
        .slide{
            // background-image: url(../images/heroimg.jpg);
            background-size: cover;
            background-position: top center;
            .slide-main{
                align-items: flex-end; 
                height: 75vh;
                display: flex;
                background-size: cover;
                .hero-text{ 
                    text-align: center;
                    width: 100%;
                    @media (min-width: 768px) {
                        text-align: left;
                        width: 100%;
                    }
                    .osuno-hero-heading{
                        // font-style: italic;
                        color: $primary-color; 
                        font-family: $secondary-font;
                        font-weight: 400;
                        font-size: 4em;
                        text-align: left;
                        padding-left: 50px;
                        text-transform: uppercase;
                        letter-spacing: 15px;
                        text-shadow:-5px -1px 6px #a09f9d;
                        @media (min-width: 1200px) {
                            font-size: 8em;
                        }
                    } 
                    .osuno-hero-text{
                        color: #000000; 
                        font-family: $primary-font;
                        font-weight: 700;
                        font-size: 1.3em;
                        text-align: left;
                        text-transform: capitalize;
                        padding-left: 50px;
                        margin-bottom: 170px;
                    }
                }
            }      
        }   
    }
}
// Music section start
.music-section{
    margin-top: 50px;
    margin-bottom: 80px;
    .music-heading{
        font-family: $secondary-font;
        font-weight: 700;
        color: $primary-color;
        text-align: center;
        font-size: 2.5em;
    }
    .music-heading-text{
        font-family: $secondary-font;
        font-weight: 400;
        color: #000000;
        text-align: center;
        font-size: 1.3em;
        padding-bottom: 20px;
    }
    .osuno-img-container{
        .osuno-image-main{
            position: relative;
            .icon-sec{
                a{
                    i{
                        color: #f0eeeb;
                        position: absolute;
                        top:50%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                        font-size: 7.3em;
                        opacity: 0.8;
                    }
                }
            } 
        }
        .osuno-music-text{
            padding-top: 10px;
            font-family: $secondary-font;
            font-weight: 400;
            color: #000000;
            font-size: 1em;
            @media (min-width: 992px){
                font-size: 1.2em;
            }
        }
    }
   
    .music-sec{
        .img-container{
            .image-main{
                position: relative;
                .icon-sec{
                    a{
                        i{
                            color: #f0eeeb;
                            position: absolute;
                            top:50%;
                            left: 50%;
                            transform: translate(-50%,-50%);
                            font-size: 2em;
                            opacity: 0.8;
                            @media (min-width: 992px){
                                font-size: 5em;
                            }
                        }
                    }
                }
            }
            .osuno-music-text{
                padding-top: 10px;
                font-family: $secondary-font;
                font-weight: 400;
                color: #000000;
                font-size: 1em;
                margin: 0;
                padding: 0;
                @media (min-width: 992px){
                    font-size: 1.1em;
                }
            }
            .artist-name{
                margin: 0;
                padding: 0;
                font-family: $secondary-font;
                font-weight: 700;
                color: #000000;
                font-size: 0.8em;
                @media (min-width: 992px){
                    font-size: 1em;
                }
            }
        }   
    }
}


// osuno music section start
.osuno-music-section{
    a{
        text-decoration: none;
        .create-music-container{
            background-image: url(../images/osuno-music-section-1.jpg);
            text-align: center;
            padding: 78px 20px;
            background-position: center;
            background-size: cover;
            height: 100%;
            i{ 
                // font-family: $secondary-font;
                // font-weight: 700;
                font-size: 6em;
                color: #ffffff;
            }
            .heading-text{
                font-size: 2em;
                color: #ffffff;
                padding-top: 39px;
                padding-bottom: 31px;
                font-family: $secondary-font;
                font-weight: 700;
                text-transform: uppercase;
            }
            .create-music-text{
                text-decoration: none;
                text-align: center;
                font-family: "Cardo", serif;
                font-weight: 700;
                font-size: 1.1em;
                color: #ffffff;
                text-transform: uppercase;
            }
        }
    }
    a{
        text-decoration: none;
        .distribute-music-container{
            background-image: url(../images/osuno-music-section-2.jpg);
            text-align: center;
            padding: 78px 20px;
            background-position: center;
            background-size: cover;
            height: 100%;
            margin-top: 20px;
            @media(min-width: 768px){
                margin-top: 0;
            }
            i{ 
                // font-family: $secondary-font;
                // font-weight: 700;
                font-size: 6em;
                color: #ffffff;
            }
            .Distribute-heading-text{
                font-size: 2em;
                color: #ffffff;
                padding-top: 39px;
                padding-bottom: 31px;
                font-family: $secondary-font;
                font-weight: 700;
                text-transform: uppercase;
            }
            .Distribute-music-text{
                text-decoration: none;
                text-align: center;
                font-family: "Cardo", serif;
                font-weight: 700;
                font-size: 1.1em;
                color: #ffffff;
                text-transform: uppercase;
            }
        }
    }
    a{
        text-decoration: none;
        .hardwork-music-container{
            background-image: url(../images/osuno-music-section-3.jpg);
            text-align: center;
            padding: 78px 20px;
            background-position: center;
            background-size: cover;
            height: 100%;
            margin-top: 20px;
            @media(min-width: 768px){
                margin-top: 0;
            }
            i{ 
                // font-family: $secondary-font;
                // font-weight: 700;
                font-size: 6em;
                color: #ffffff;
            }
            .hardwork-heading-text{
                font-size: 2em;
                color: #ffffff;
                padding-top: 39px;
                padding-bottom: 31px;
                font-family: $secondary-font;
                font-weight: 700;
                text-transform: uppercase;
            }
            .hardwork-music-text{
                text-decoration: none;
                text-align: center;
                font-family: "Cardo", serif;
                font-weight: 700;
                font-size: 1.1em;
                color: #ffffff;
                text-transform: uppercase;
            }
        }
    }
}

// featured section start
.featured-section{
    margin-top: 50px;
    margin-bottom: 50px;
    .featured-heading{
        text-align: right;
        color: $primary-color;
        font-family: $secondary-font;
        font-weight: 700;
        font-size: 1.6em;
        text-transform: uppercase;
        padding-bottom: 20px;
        @media(min-width: 768px){
            font-size: 2.2em;
        }
    }
    .slides{
        .slide{
            .featured{

            }
        }
    }
    .tns-outer{
        position: relative;
        .tns-controls{
                position: absolute;
                z-index: 3;
                transform: translate(-50% ,-50%);
                top: 50%;
                width: calc(100% + 121px);
                display: flex;
                justify-content: space-between;
                left: 50%;
            button{
                background: none;
                border: none;
                box-shadow: none;
                outline: none;
                i{
                    color: $primary-color;
                    font-size: 2em;
                    display: none;
                    @media (min-width: 992px){
                        display: block;
                    }
                }
            }
        }
    }
    .featured-btn-container{
            text-align: right;
            width: 100%;
            margin-top: 44px;
        .featured-btn{
            text-decoration: none;
            text-align: center;
            color: #610f02;
            background-color: $secondary-color;
            font-size: 1.2em;
            padding: 6px 29px;
            display: inline-block;
            font-family: $primary-font;
            font-weight: 700;
            border-radius: 37px;
            transition: all 0.3s ease-in-out;
            &:hover{
                background-color: #f9b64d;           
            }
        }
    }
}

// studio-news-section start
.studio-news-section{
    .studio-heading-main{
        text-align: center;
        position: relative;
        @media (min-width: 768px){
            text-align: right;
        }
        .studio-heading{
            color: #dfdfdf;
            font-family: $secondary-font;
            font-weight: 700;
            text-transform: uppercase;
            font-size: 5em;
            @media (min-width: 768px){
                font-size: 7em;
            }
        }
        .studio-heading-second{
            color: $primary-color;
            font-family: $secondary-font;
            font-weight: 700;
            font-size: 1.9em;
            position: absolute;
            top: 25%;
            left: 33%; 
            @media (min-width: 768px){
                font-size: 2.5em;
                top: 29%;
                left: 57%;
            }
            @media (min-width:992px){
                left: 69%;
            }
            @media (min-width:992px){
                left: 77%;
            }
        }
    }
    .studio-news-one{
        .studio-news-link{
            text-decoration: none;
            .card{
                border: none;
                background: linear-gradient(135deg, rgba(251,144,9,1) 0%,rgba(251,144,9,1) 11%,rgba(251,143,10,1) 46%,rgba(232,79,45,1) 57%,rgba(232,79,45,1) 100%);
                transition: all ease-in-out 0.5s;
                .card-body{
                    .card-heading-text{
                        text-transform: uppercase;
                        font-size: 1.3em;
                        font-family: $secondary-font;
                        font-weight: 700;
                        color: #ffffff;
                        line-height:2;
                    }
                    .card-text{
                        font-size: 1em;
                        font-family: $primary-font;
                        font-weight: 600;
                        color: #ffffff;
                    }
                    .author-name{
                        font-family: $primary-font;
                        font-weight: 600;
                        font-size: 1em;
                        color: #feecde;
                    }
                }
                &:hover{
                    background: linear-gradient(135deg, rgba(232,79,45,1) 0%,rgba(251,143,10,1) 43%,rgba(251,143,10,1) 54%,rgba(251,144,9,1) 89%,rgba(251,144,9,1) 100%);
                }
            }
        }
    }
    .studio-news-two{
        a{
            .studio-news-second-section{
                .image-container{
                    position: relative;
                    .card-img-top{
                        padding-top: 130px;
                    }
                    .icon-sec{
                        a{
                            i{
                                color: #f0eeeb;
                                position:absolute;
                                top:50%;
                                left: 50%;
                                transform: translate(-50%,-50%);
                                font-size: 7.3em;
                                opacity: 0.8;
                            }
                        }
                    }
                    .studio-news-second-text{
                        color: #f0eeeb;
                        position:absolute;
                        top:50%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                        font-size: 1.2em;
                    }
                }
            }
        }

    }
    
    .studio-news-four{
        margin-top: 28%;
        .studio-news-link{
            text-decoration: none;
            .card{
                border: none;
                background: linear-gradient(135deg, rgba(232,79,45,1) 0%,rgba(232,79,45,1) 43%,rgba(251,143,10,1) 54%,rgba(251,144,9,1) 89%,rgba(251,144,9,1) 100%);
                .card-img-top{
            
                }
                .card-body{
                    .card-heading-text{
                        font-family: $primary-font;
                        font-weight: 600;
                        color: #ffffff;
                        font-size: 1.5em;
                    }
                    .card-text{
                        font-family: $primary-font;
                        font-weight: 600;
                        color: #ffffff;
                        font-size: 1em;
                    }
                    .author-name{
                        font-family: $primary-font;
                        font-weight: 600;
                        color: #ffffff;
                        font-size: 0.8em;
                        text-align: right;
                    }
                }
            }
        }
    }

    .studio-news-six{
        margin-top: 28%;
        .studio-news-link{
            text-decoration: none;
            .card{
                border: none;
                background: linear-gradient(135deg, rgba(232,79,45,1) 0%,rgba(232,79,45,1) 43%,rgba(251,143,10,1) 54%,rgba(251,144,9,1) 89%,rgba(251,144,9,1) 100%);
                .card-img-top{
            
                }
                .card-body{
                    .card-heading-text{
                        font-family: $primary-font;
                        font-weight: 600;
                        color: #ffffff;
                        font-size: 1.5em;
                    }
                    .card-text{
                        font-family: $primary-font;
                        font-weight: 600;
                        color: #ffffff;
                        font-size: 1em;
                    }
                    .author-name{
                        font-family: $primary-font;
                        font-weight: 600;
                        color: #ffffff;
                        font-size: 0.8em;
                        text-align: right;
                    }
                }
            }
        }
    }
}

// success-story-section
.success-story-section{
    margin-bottom: 100px;
    .success-story-heading{
        text-align: center;
        color: $primary-color;
        font-family: $secondary-font;
        font-weight: 700;
        font-size: 2.5em;
    }
    .success-story-heading-text{
        margin-top: 25px;
        margin-bottom: 50px;
        text-align: center;
        color: #000000;
        font-family: $primary-font;
        font-weight: 400;
        font-size: 1.2em;
    }
    .blog-text{
        .blog-link{
            text-decoration: none;
            .card{
                transition: all ease-in-out 0.3s;
                border: none;
                .card-img-top{

                }
                .card-body{
                    .card-heading-text{
                       text-align: center;
                       font-family: $primary-font;
                       font-weight: 400;
                       font-size: 1.6em; 
                       color: $primary-color;
                    }
                    .card-date{
                        text-align: center;
                        font-family: $primary-font;
                        font-weight: 400;
                        font-size: 1.1em; 
                        color: rgb(51, 50, 50);
                    }
                    .card-text{
                        text-align: left;
                        font-family: $primary-font;
                        font-weight: 400;
                        font-size: 1em; 
                        color: #000000;
                    }
                    .author-name{
                        text-align: right;
                        font-family: $primary-font;
                        font-weight: 400;
                        font-size: 1.1em; 
                        color: #171717;
                    }
                }
                &:hover {
                    background-color: $secondary-color;
                }
            }
        }
    }
    .blog-btn-container{
            text-align: center;
            width: 100%;
            margin-top: 44px;
        .blog-btn{
            text-decoration: none;
            text-align: center;
            color: #610f02;
            background-color: $secondary-color;
            font-size: 1.5em;
            padding: 6px 29px;
            display: inline-block;
            font-family: $primary-font;
            font-weight: 700;
            border-radius: 37px;
            transition: all 0.3s ease-in-out;
            &:hover{
                background-color: #f9b64d;  
            }
        }
    }
    .line-btn{
        margin-top: 40px;
        .line{
            border: 1px solid $primary-color;
            font-weight: 400;
            font-family: $primary-font;
            float: left;
            width: 100%;
        }
    }
}